html,body{
  font-size:16px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
/* *{
  height: 100%;
} */

.bg-main{
  background-color: #ffc045 !important;
}
.fs-7{
font-size: 1rem;
}
.fs-8{
  font-size: 0.9rem;
}
.c-brown{
  color: #462b17;
}

.titleburger{
  font-size: 5rem

}
.border-dashed-title{
  border: 1px dashed #3d2514;
}
.subtitle-titleburger{
  font-size: 3rem;
}
.top-35\%{
  top: 35%;
}

.border-dashed{
  border: 2px dashed white;
}
@media (max-width:950px) {
  .border-dashed-title{
  font-size:0.5rem ;
  }
  .titleburger{
    font-size: 2.5rem;
  }
  .subtitle-titleburger{
    font-size: 1.5rem;

  }
  
}
@media (max-width:768px) {
  .price h1{
       font-size: 0.7rem;
  }
  .price span{
    font-size: 0.5rem;
}
  .price h2{
    font-size: 0.6rem;
}
.price{
  top: 63%;
  left: 23%;
  transform: scale(.9);
}
.pagefooter .footer-text{
  font-size: 0.6rem;

}
.pagefooter .footer-logo{
  height: 25%;
}
.pagefooter div{
  text-align: center;
}
.pagefooter .otherlogo{

  width: 10%;
}
}
@media (max-width:450px) {

  .h-sm-235{
    height: 235px !important;
  }
  .price{
    top: 63%;
    left: 23%;
    transform: scale(.7);
  }
  .pagefooter .footer-text{
    font-size: 0.5rem;
  
  
  }
  .pagefooter .footer-logo{
    height: 10%;
  }
  .pagefooter div{
    text-align: center;
  }
  .pagefooter .otherlogo{
  
    width: 7%;
  }
}
@media (max-width:320px) {
  .price{
    top: 54%;
    left: 19%;
    transform: scale(.5);
  }
}

@media (max-width:570px){
  .fs-7{
    font-size: 0.4rem;
  }
  .fs-8{
    font-size: 0.4rem;
  }
  .navbar-brand{
    width: 40% !important;
  }
  .border-dashed-title{
    font-size:0.3rem ;
    }
    .titleburger{
      font-size: 1.2rem;
    }
    .subtitle-titleburger{
      font-size: 0.7rem;
  
    }
    .top-35\%{
      top: 25%;
    }
}

@media (min-width:650px) {
  .header .nav-link{
    padding: 10px 20px !important;
  }
}
@media (min-width:768px) {
  .price{
    top: 62%;
    left: 18%;
  }
}

.bg-red{
  background: #bf2222 !important;
}
.f-fam-alpha{
  font-family: 'Alfa Slab One', cursive;
}
.ff-bebas{
  font-family: 'Bebas Neue', cursive;

}
button.bg-red:hover{
background-color: #811c1c !important;
}
.ts-title{
  text-shadow: 4px 5px 0 #fee8bc;

}
.fs-12{
  font-size: 12px;
}